:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --headings-color: hsl(210, 10%, 33%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --p-line-height: 1.5;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
}
p {
  color: var(--Grayish-Blue);
}
a {
  font-weight: 600;
}

/* components */

/* the background */
@media (max-width: 767px) {
  header {
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  header {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* -------------- */

/* the header */
header .landing {
  padding-top: 8rem;
  text-align: center;
  position: relative;
}

header .landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .landing .logo {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  header .landing .logo {
    margin-bottom: 2.5rem;
    height: 100px;
  }
}

header .landing h1 {
  font-size: 2.5rem;
}

header .landing p {
  max-width: 55%;
  line-height: var(--p-line-height);
}
@media (max-width: 767px) {
  header .landing h1 {
    font-size: 2rem;
    max-width: 80%;
  }
  header .landing p {
    font-size: 1rem;
    max-width: 90%;
  }
}

header .landing .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  header .landing .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
  }
}

header .landing .buttons .button {
  text-decoration: none;
  color: white;
  padding: 0.8rem 1.7rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  border-bottom: solid 0.2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.123);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media (max-width: 767px) {
  header .landing .buttons .button {
    padding: 1rem 4rem;
  }
}
@media (min-width: 768px) {
  header .landing .buttons .button:hover {
    opacity: 75%;
  }
}

header .landing .buttons .button:first-child {
  background-color: var(--Strong-Cyan);
  border-color: hsl(171, 61%, 37%);
}
@media (max-width: 767px) {
  header .landing .buttons .button:first-child {
    margin-bottom: 1rem;
  }
}

header .landing .buttons .button:last-child {
  background-color: var(--Light-Blue);
  border-color: hsl(233, 50%, 52%);
}

/* the first section */
section:first-of-type {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

section:first-of-type .txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:first-of-type .txt h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

section:first-of-type .txt p {
  max-width: 50%;
  line-height: var(--p-line-height);
}
@media (max-width: 767px) {
  section:first-of-type .txt h2 {
    max-width: 80%;
  }
  section:first-of-type .txt p {
    max-width: 80%;
  }
}

section:first-of-type .split {
  margin-top: 5rem;
  display: flex;
}

section:first-of-type .split img {
  position: relative;
  left: -2%;
}
@media (max-width: 767px) {
  section:first-of-type .split {
    flex-direction: column;
    align-items: center;
  }
  section:first-of-type .split img {
    width: 80%;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1205px) {
  section:first-of-type .split {
    flex-direction: column;
    align-items: center;
  }
  section:first-of-type .split img {
    width: 80%;
    max-width: 700px;
    border-color: red;
    left: 0;
  }
}
@media (min-width: 1206px) {
  section:first-of-type .split img {
    width: 800px;
    max-height: 550px;
  }
}

section:first-of-type .split .features {
  padding: 5rem 12rem 5rem 5rem;
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
}

section:first-of-type .split .features .box h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

section:first-of-type .split .features .box p {
  line-height: var(--p-line-height);
}
@media (max-width: 767px) {
  section:first-of-type .split .features {
    padding: 1rem;
    margin-top: 3rem;
  }

  section:first-of-type .split .features .box {
    text-align: center;
    height: fit-content;
  }

  section:first-of-type .split .features .box p {
    max-width: 90%;
    margin: 0 auto;
  }

  section:first-of-type .split .features .box:first-of-type {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1205px) {
  section:first-of-type .split .features {
    padding: 1rem;
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  section:first-of-type .split .features .box {
    text-align: center;
  }

  section:first-of-type .split .features .box:first-of-type {
    grid-column: span 2;
  }

  section:first-of-type .split .features .box p {
    max-width: 70%;
    margin: 0 auto;
  }
}

/* the second section */
section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

section:nth-of-type(2) .txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-of-type(2) .txt:first-of-type {
  margin-bottom: 2rem;
}

section:nth-of-type(2) .txt h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

section:nth-of-type(2) .txt p {
  max-width: 80%;
  line-height: var(--p-line-height);
}

section:nth-of-type(2) .txt:last-of-type {
  margin-top: 5rem;
}

section:nth-of-type(2) .txt:last-of-type p {
  max-width: 100%;
}
@media (max-width: 767px) {
  section:nth-of-type(2) .txt h2 {
    max-width: 90%;
  }

  section:nth-of-type(2) .txt p {
    max-width: 90%;
  }

  section:nth-of-type(2) .txt:last-of-type p {
    max-width: 90%;
  }
}

section:nth-of-type(2) img {
  margin-top: 4rem;
}
@media (max-width: 767px) {
  section:nth-of-type(2) {
    flex-direction: column;
    align-items: center;
  }
  section:nth-of-type(2) img {
    width: 80%;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  section:nth-of-type(2) {
    flex-direction: column;
    align-items: center;
  }
  section:nth-of-type(2) img {
    width: 80%;
    max-width: 700px;
    border-color: red;
    left: 0;
  }
}
@media (min-width: 1200px) {
  section:nth-of-type(2) img {
    width: 800px;
    max-height: 550px;
  }
}

/* the third section */
section:nth-of-type(3) {
  padding-bottom: var(--section-padding);
}

section:nth-of-type(3) .boxes-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 5rem;
}
@media (min-width: 560px) and (max-width: 1199px) {
  section:nth-of-type(3) .boxes-container .box:last-of-type {
    grid-column: span 2;
  }
}

section:nth-of-type(3) .boxes-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

section:nth-of-type(3) .boxes-container .box img {
  max-width: 60px;
  margin-bottom: 1.5rem;
}

section:nth-of-type(3) .boxes-container .box:first-of-type img {
  position: relative;
  top: 5%;
  margin-bottom: 2.3rem;
}

section:nth-of-type(3) .boxes-container .box p {
  line-height: var(--p-line-height);
}
@media (max-width: 767px) {
  section:nth-of-type(3) .boxes-container .box p {
    max-width: 80%;
  }
}
@media (min-width: 560px) and (max-width: 1199px) {
  section:nth-of-type(3) .boxes-container .box p {
    max-width: 80%;
  }
}

/* the fourth section */
section:nth-of-type(4) {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

section:nth-of-type(4) .container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  column-gap: 4rem;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  section:nth-of-type(4) .container .grid {
    row-gap: 5rem;
    column-gap: 5rem;
  }
}

section:nth-of-type(4) .container .grid .box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* the fifth section */
section:nth-of-type(5) {
  padding-bottom: 10rem;
  text-align: center;
}

section:nth-of-type(5) .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-of-type(5) .txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-of-type(5) .txt h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

section:nth-of-type(5) .txt p {
  max-width: 70%;
  line-height: var(--p-line-height);
}
@media (max-width: 767px) {
  section:nth-of-type(5) .txt h2 {
    max-width: 80%;
  }
  section:nth-of-type(5) .txt p {
    max-width: 90%;
  }
}

section:nth-of-type(5) .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  section:nth-of-type(5) .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
  }
}

section:nth-of-type(5) .buttons .button {
  text-decoration: none;
  color: white;
  padding: 0.8rem 1.7rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  border-bottom: solid 0.2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.123);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media (max-width: 767px) {
  section:nth-of-type(5) .buttons .button {
    padding: 1rem 4rem;
  }
}
@media (min-width: 768px) {
  section:nth-of-type(5) .buttons .button:hover {
    opacity: 75%;
  }
}

section:nth-of-type(5) .buttons .button:first-child {
  background-color: var(--Strong-Cyan);
  border-color: hsl(171, 61%, 37%);
}
@media (max-width: 767px) {
  section:nth-of-type(5) .buttons .button:first-child {
    margin-bottom: 1rem;
  }
}
section:nth-of-type(5) .buttons .button:last-child {
  background-color: var(--Light-Blue);
  border-color: hsl(233, 50%, 52%);
}

/* the footer */
footer {
  background-color: #f5f5f5;
  padding: 3rem;
}
@media (min-width: 767px) and (max-width: 1199px) {
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  footer .container {
    flex-direction: column;
    text-align: center;
  }
}

footer .container img {
  height: 50px;
}
@media (max-width: 767px) {
  footer .container img {
    margin-bottom: 4rem;
  }
}

footer .container .links {
  list-style: none;
  margin-left: -18rem;
  column-gap: 5rem;
  row-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 767px) {
  footer .container .links {
    margin-left: 0;
    row-gap: 2rem;

    margin-bottom: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  footer .container .links {
    margin-left: -4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

footer .container .links li a {
  font-weight: normal;
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media (max-width: 767px) {
  footer .container .links li:first-child {
    order: 1;
  }
  footer .container .links li:nth-child(2) {
    order: 3;
  }
  footer .container .links li:nth-child(3) {
    order: 5;
  }
  footer .container .links li:nth-child(4) {
    order: 2;
  }
  footer .container .links li:last-child {
    order: 4;
  }
}

footer .container .links li a:hover {
  color: var(--Strong-Cyan);
}

footer .container .social-media {
  display: flex;
  gap: 2rem;
  list-style: none;
}
@media (max-width: 767px) {
  footer .container .social-media {
    gap: 0;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  footer .container .social-media {
    padding-right: 1rem;
  }
}

footer .container .social-media li a {
  color: var(--Dark-Grayish-Blue);
  font-size: 1.8rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
@media (max-width: 767px) {
  footer .container .social-media li a {
    margin: 0 1rem;
  }
}

footer .container .social-media li a:hover {
  color: var(--Strong-Cyan);
}
